@import "tailwindcss";
@config "../tailwind.config.js";

@layer base {
  body {
    font-family: 'Inter', sans-serif;
    background-color: #FAFAFA;
    color: #333333;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  h1, h2, h3, h4, h5, h6 {
    font-family: 'Yatra One', cursive, sans-serif;
  }
}
